@import url(reset.css);
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500');

.clean {
    clear: both;
}

html {
    max-width: 1280px;
    box-sizing: border-box;
    margin: 0 auto;
}

body {
    font-family: "Fira Sans", sans-serif;
}

a:hover {
    text-decoration: none;
}

header {
    width: 100%;
    height: 660px;
    background: url("img/BackHeader.png") no-repeat;
}

.HeaderMenu {
    max-height: 70px;
    height: 100%;
    margin-bottom: 270px;
}

.HeaderLogo {
    margin: 15px 35px 0 21px;
    float: left;
}

.TopMenu {
    max-width: 929px;
    width: 100%;
    border-bottom: 1px solid #7d836a;
    float: left;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.more,
.more_2,
.more_3 {
    padding-right: 16px;
    position: relative;
    z-index: 0;
}

.more:after,
.more_2:after,
.more_3:after {
    content: '';
    position: absolute;
    top: 5px;
    right: -1px;
    width: 5px;
    height: 7px;
    background: url(img/smart.png) no-repeat;
}

.more_2:after {
    right: -69px;
    left: 129px;
}

.more_3:after {
    right: -84px;
}

/*
Header Menu
*/

.TopMenu li {
    float: right;
    margin-top: 29px;
    margin-left: 30px;
    display: block;
}

.TopMenu li a {
    color: #ffffff;
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    text-transform: uppercase;
    height: 100%;
    width: 100%;
}

.top_button {
    max-width: 160px;
    border: 1px solid #9fa191;
    float: left;
    max-height: 39px;
    width: 100%;
    height: 100%;
    display: block;
    margin-top: 16px;
    margin-left: 25px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 500;
    font-size: 13px;
    padding-top: 12px;
    padding-left: 22px;
}

.HeaderInfo {
    max-height: 160px;
    max-width: 450px;
    background: #2aa438;
    width: 100%;
    height: 100%;
}

.HeaderInfo h1 {
    text-transform: uppercase;
    color: #fbb82a;
    font-size: 30px;
    font-weight: 500;
    padding-top: 53px;
    padding-left: 52px;
}

.HeaderInfo p {
    color: #ffffff;
    font-weight: 400;
    font-size: 14px;
    padding-top: 12px;
    padding-left: 54px;
}

#BionContent {
    width: 100%;
}

/*COUNTERS*/

#BionCounters {
    width: 100%;
    max-height: 475px;
    height: 100%;
    display: block;
}

#BionCounters ul {
    width: 100%;
}

.CountersCOntainer {
    display: flex;

}

.CountersCOntainer p {
    font-size: 12px;
    font-weight: 300;
}

#BionCounters ul li {
    height: 236px;
    width: 33.33%;
    border-right: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    float: left;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

#BionCounters ul li a {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    max-width: 245px;
    width: 100%;
    display: block;
    max-height: 45px;
    height: 100%;
    text-align: center;
    background-color: #2aa438;
    line-height: 45px;
}

#BionCounters ul li h1 {
    font-weight: 500;
    color: #2aa438;
    font-size: 64px;
    line-height: 28px;
    text-transform: uppercase;
    float: left;
    margin: 0 12px;
}

#BionCounters ul li span {
    color: #222222;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    float: left;
    text-transform: uppercase;
    margin-top: -10px;
}

/*
Advantage
*/

#Advantages {
    width: 100%;
    height: 639px;
    background: url(img/BackAdvangates.png) no-repeat;
    padding-top: 65px;
}

#Advantages h1 {
    color: #ffffff;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    font-size: 26px;
    padding-left: 16px;
    margin-bottom: 35px;
}

#Advantages ul {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    float: left;
}

.AdvantagesContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 47px;

}

.AdvantagesContainer ul:first-child {
    padding-left: 121px;
}

.AdvantagesContainer ul:last-child {
    padding-right: 114px;
}

#Advantages ul li {
    height: 69px;
    width: 490px;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #ffffff;
    float: left;
    margin-right: 4px;
    margin-left: 19px;
    margin-bottom: 22px;
}

#Advantages ul li:hover {
    background: #fbb82a;;
}

#Advantages ul li a {
    width: 100%;
    height: 100%;
    display: block;
    padding-left: 7px;
    position: relative;
    font-size: 14px;
    color: #000000;
    padding-top: 27px;
}

#Advantages ul li a:hover {
    text-decoration: none;
    position: relative;
}

#Advantages ul li a:before {
    content: '';
    top: 30px;
    right: 32px;
    width: 17px;
    height: 9px;
    background: url(img/arrow.png) no-repeat;
    position: absolute;
    z-index: 1;
}

#Advantages ul li a:hover:before {
    content: '';
    width: 36px;
    height: 9px;
    right: 32px;
    background: url(img/arrowHover.png) no-repeat;
}

#Advantages ul li a span {
    color: #000000;
    font-size: 25px;
    height: 100%;
    display: block;
    float: left;
    padding-left: 13px;
    margin-right: 18px;
    margin-top: -5px;
}

#Advantages > a {
    display: block;
    width: 244px;
    height: 45px;
    background-color: #fbb82a;
    text-align: center;
    color: #111111;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    margin-left: 41%;
    margin-right: auto;
    line-height: 50px;
}

#Advantages > a:hover {
    text-decoration: none;
}

/*
DISCOUNT
*/

#BionDiscounts {
    padding-top: 63px;
    height: 505px;
    background: url(img/Discounse.png) no-repeat;
    display: block;
}

#BionDiscounts h1 {
    font-weight: 500;
    color: #222222;
    font-size: 26px;
    text-align: center;
    text-transform: uppercase;
    padding-left: 14px;
    margin-bottom: 13px;
}

#BionDiscounts p {
    color: #222222;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    padding-left: 27px;
    font-weight: 400;
    margin-bottom: 69px;
}

#BionDiscounts ul {
    display: flex;
    justify-content: center;
    margin-left: 40px;
    margin-bottom: 69px;
}

#BionDiscounts ul li {
    border-left: 1px solid #dddddd;
    width: 241px;
    height: 100%;
    color: #222222;
    font-size: 14px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#BionDiscounts ul li:first-child {
    border: none;
}

#BionDiscounts ul li span {
    color: #2aa438;
    font-weight: 500;
    font-size: 64px;
}

#BionDiscounts > a {
    width: 245px;
    height: 45px;
    background-color: #2aa438;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    display: block;
    text-align: center;
    line-height: 45px;
    margin-right: auto;
    margin-left: 42%;
}

/*
NEWS
*/

#News {
    height: 536px;
    display: flex;
    justify-content: center;
    background: url(img/News.png) no-repeat;
    padding-top: 58px;
}

.NewsContainer {
    max-width: 740px;
    display: block;
    width: 100%;
    margin-left: 12px;
}

.NewsContainer > ul:first-child {
    height: 70px;
    background-color: #fbb82a;
}

.NewsContainer h1 {
    text-transform: uppercase;
    float: left;
    padding-left: 33px;
    font-weight: 500;
    color: #111111;
    font-size: 26px;
    line-height: 72px;
}

.NewsContainer > ul:first-child a {
    float: right;
    margin-right: 28px;
    text-decoration: none;
    border-bottom: 1px solid #c08e24;
    color: #111111;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 31px;
}

.NewsContainer ul:nth-child(2) {
    width: 100%;
}

.ContainerNews {
    width: 100%;
    background: #ffffff;
}

.NewsRow {
    width: 666px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    height: 83px;
    border-bottom: 1px solid #dddddd;
}

.NewsRowLeft,
.NewsRowRight {
    height: 54px;
}

.NewsRowLeft {
    float: left;
    display: flex;
    align-items: center;
    width: 90px;
    border-right: 1px solid #dddddd;
    margin-right: 24px;
}

.NewsRowRight {
    width: 576px;
    display: flex;
    align-items: center;
    position: relative;
}

.NewsRowLeft p {
    color: #fbb82a;
    font-size: 30px;
    font-weight: 500;
    margin-right: 9px;
}

.NewsRowLeft span {
    font-size: 14px;
    color: #fbb82a;
    font-weight: 500;
}

.NewsRowRight a {
    color: #222222;
    font-weight: 500;
    font-size: 14px;
}

.NewsRowRight:before {
    content: '';
    position: absolute;
    background: url(img/arrow.png) no-repeat;
    top: 41%;
    right: 0;
    width: 17px;
    height: 9px;
}

/*FORM
Paste background pictures */

#BIONform {
    height: 475px;
    width: 100%;
    background-color: #fbb82a;
    background-image: url('img/BackForm.jpg');
}

#BIONform .FormContainer {
    float: left;
    margin-left: 200px;
    padding-top: 55px;
}

.FormContainer h1 {
    color: #ffffff;
    font-weight: 500;
    font-size: 37px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 35px;

}

input[type='text'], input[type='email'], select {
    width: 250px;
    height: 40px;
    margin-right: 16px;
    margin-bottom: 20px;
}

textarea {
    height: 80px;
    width: 520px;
    margin-bottom: 40px;
    display: block;
    resize: none;
}

input[type="submit"] {
    background: #2aa438;
    width: 163px;
    height: 40px;
    font-size: 14px;
    color: #ffffff;
    outline: none;
}

/*
FOOTER
*/

footer {
    height: 205px;
    background: #15521c;
}

.footerContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

footer h1 {
    color: #8aa98e;
    font-weight: 500;
    font-size: 30px;
    text-transform: uppercase;
    float: left;
}

footer h2 {
    font-size: 14px;
    color: white;
    margin-bottom: 12px;
    text-transform: uppercase;
}

.footerContainer div {
    float: left;
}

footer p,
footer li {
    color: #ffffff;
    font-size: 14px;
}

footer a {
    color: #82a386;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
}
